header{
    text-align: center;
    padding-top: 10%;
    background-image: url("https://images.unsplash.com/photo-1534855499929-aeadf3f0c23f?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=334&q=80");
    height: 450px;

}

body
{
   margin: 0px;
   padding: 0px;
   box-sizing: border-box; 
}
#countDown{
    font-size: 80px;
    font-weight: 1000;
    color: white;
}
h2{
    color: white;
    margin-top: 30px;
}
h1{
    font-weight: 1000;
    font-family:'Times New Roman', Times, serif;
    color:cyan;
}
span{
    font-weight: 400;
}
#input{
    height: 30px;
    width: 280px;
    border: none;
    padding-left: 10px;
    border-radius: 4px;
}
#days, #hours, #minutes, #seconds{
    height: 30px;
    width: 80px;
    margin-top: 20px;
    border: none;
    background-color: black;
    color: white;
    border-radius: 2px;
    padding-left: 8px;
   
}
#Start{
    color: white;
    background-color: black;
    border: none;
    height: 30px;
    width: 120px;
    font-weight: 600;
    border-radius: 2px;
    margin-bottom: 20px;
}
.font{
    font-size: 20px;
    color:cyan;
}
.box{
    height: 22px;
    font-size: 18px;
}